# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Cache
MemoryCaptures/
*.stacktrace

# Build results
*.apk
*.aab
*.unitypackage

# IDE specific
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

